%footer#contentInfo.body.transform_content_before
  %address#about.body
    %span.primary
      %strong
        = link_to "Veny", "/", :class => ["fn", "url"]
    %span.bio
      は
      = link_to "きゃりーぱみゅぱみゅ", "http://www.youtube.com/watch?v=yzC4hFK5P3g", :target => "_blank"
      を応援しています。
